<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="UTF-8">
    	<link rel="icon" href="/favicon.ico" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>{{ .Name }}</title>
    	<meta name="description" content="Welcome to my public web profile!">
    	<meta name="robots" content="index, follow" />
    	<meta name="author" content="{{ .Name }}" />

        <style>
            *, *::before, *::after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                color: white;
                padding: 16px;
                background-color: #101010;
                max-width: 600px;
                margin: 0 auto;
            }

            a {
                color: currentColor;
            }

            h1 {
                text-align: center;
            }

            h2 {
                color: #cacaca;
                font-size: 133%;
            }

            ul { list-style-type: none; }

            #top > nav {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                justify-content: center;
            }

            #top > nav a {
                background-color: #303030;
                padding: 8px 12px;
                border-radius: 8px;
            }

            hr {
                width: 100%;
                background-color: grey;
                height: 1px;
                border: none;
            }

            main > section {
                margin-top: 16px;
                padding: 16px;
                background-color: #202020;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            #experiences section {
                padding: 16px;
                background-color: #303030;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            #experiences > section > div {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 8px;
                align-items: center;
            }

            #experiences ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }

            #experiences li {
                padding: 4px 8px;
                background-color: #404040;
            }

            #skills ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }

            #skills li {
                padding: 4px 8px;
                background-color: #303030;
            }

            #interests > ul, #hobbies > ul, #links > ul {
                list-style-type: circle;
                list-style-position: inside;
            }

            footer { 
                margin-top: 16px; 
            }

            footer nav {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                justify-content: center;
            }
        </style>
    </head>

    <body>
        <main>
            <section id="top">
                <h1>{{ .Name }}</h1>
                <hr>
                <ul>
                    <li>💌 <a href="mailto:{{ .Contact.EmailAddress }}">{{ .Contact.EmailAddress }}</a></li>
                    <li>🔗 <a href="https://{{ .Contact.URL }}">{{ .Contact.URL }}</a></li>
                </ul>
            </section>

        	<section id="experiences">
        		<h2>Experiences</h2>
        		<hr>
        		{{ range .Experiences }}
        		<section>
        			<h3>{{ .Title }}</h3>
        			<div><span>🏢</span>{{ .Organization }}</div>
        			<div><span>🗓️</span>{{ .From }} - {{ .To }}</div>
        			<div><span>🦾</span>
        				<ul>
        					{{ range .Skills }}
        					<li>{{ . }}</li>
        					{{ end }}
        				</ul>
        			</div>
        			<div><span>🌍</span>{{ .Location }}</div>
        			<div><span>ℹ️</span>{{ .Description }}</div>
        		</section>
        		{{ end }}
        	</section>

        	<section id="skills">
        		<h2>Skills</h2>
        		<hr>
        		{{ range .Skills }}
        		<section>
        			<h3>{{ .Title }}</h3>
        			<ul>
        				{{ range .Tools }}
        				<li>{{ . }}</li>
        				{{ end }}
        			</ul>
        		</section>
        		{{ end }}
        	</section>

        	<section id="languages">
        		<h2>Languages</h2>
        		<hr>
        		{{ range .Languages }}
        		<section>
        			<div>
        				<h3>{{ .Label }}</h3>
        				<p>{{ .Proficiency }}</p>
        			</div>
        		</section>
        		{{ end }}
        	</section>

            <section id="education">
        		<h2>Education</h2>
        		<hr>
        		{{ range .Education }}
        		<section>
        			<h3>{{ .Title }}</h3>
        			<div><span>🏢</span>{{ .Organization }}</div>
        			<div><span>🗓️</span>{{ .From }} - {{ .To }}</div>
        		</section>
        		{{ end }}
        	</section>

            <section id="interests">
        		<h2>Interests</h2>
        		<hr>
        		<ul>
                    {{ range .Interests }}
                    <li>{{ . }}</li>
                    {{ end }}
                <ul>
        	</section>

            <section id="hobbies">
        		<h2>Hobbies</h2>
        		<hr>
        		<ul>
                    {{ range .Hobbies }}
                    <li>{{ . }}</li>
                    {{ end }}
                <ul>
        	</section>

            <section id="links">
        		<h2>Links</h2>
        		<hr>
        		<ul>
                    {{ range .Links }}
                    <li><a href="https://{{ .URL }}">{{ .Label }}</a></li>
                    {{ end }}
                <ul>
        	</section>
        </main>

        <footer>
            <nav>
                <a href="/profile.pdf">View as PDF</a>
                <a href="/profile.txt">View as text</a>
                <a href="/profile.md">View as Markdown</a>
                <a href="/profile.json">View as JSON</a>
            </nav>
        </footer>
    </body>
</html>