<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <meta name="description" content="Welcome to my public web profile!">
    <meta name="robots" content="index, follow" />
    <meta name="author" content="{{ .Name }}" />

    <style>
        :root {
            --color-fg-0: hsl(0, 0%, 95%);
            --color-fg-1: hsl(0, 0%, 80%);
            --color-fg-2: hsl(0, 0%, 65%);
            --color-bg-0: hsl(0, 0%, 10%);
            --color-bg-1: hsl(0, 0%, 15%);
            --color-bg-2: hsl(0, 0%, 25%);
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            background-color: var(--color-bg-0);
            color: var(--color-fg-1);
            font-family: sans-serif;
        }

        main {
            padding: 16px;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        a {
            color: currentColor;
            font-weight: bold;
        }

        h1 {
            font-size: 150%;
            color: var(--color-fg-0);
        }

        h2 {
            color: var(--color-fg-1);
            font-size: 125%;
        }

        h3 {
            color: var(--color-fg-1);
            font-size: 100%;
        }

        ul {
            list-style-type: none;
        }

        hr {
            width: 100%;
            background-color: var(--color-bg-2);
            height: 1px;
            border: none;
        }

        section.card {
            padding: 24px 16px;
            background-color: var(--color-bg-1);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        ul.hlist {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            list-style-type: none;
        }

        ul.hlist .tag {
            padding: 4px 8px;
            background-color: var(--color-bg-2);
        }

        ul.vlist {
            display: grid;
            gap: 8px;
        }

        a.button {
            background-color: var(--color-bg-2);
            padding: 8px 12px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
        }

        .emoji {
            font-size: 110%;
            font-weight: bold;
            color: #ffcb4c;
        }

        .kv {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 8px;
            align-items: baseline;
        }

        .grid-8px {
            display: grid;
            gap: 8px;
        }

        .grid-12px {
            display: grid;
            gap: 12px;
        }

        .color-fg-2 {
            color: var(--color-fg-2);
        }

        #exports {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 12px;
        }

        footer {
            max-width: 600px;
            margin: 0 auto;
            padding: 32px 16px;
        }
    </style>
</head>

<body>
    <main>
        <section id="top" class="card">
            <h1>{{ .Name }}</h1>
            <ul class="hlist">
                <li>
                    <a class="button" href="mailto:{{ .Contact.EmailAddress }}">
                        <span class="emoji">@</span>{{.Contact.EmailAddress }}
                    </a>
                </li>
                {{ if .Contact.PGP }}
                <li>
                    <a target="_blank" class="button" href="/pgp.asc"><span class="emoji">🔑</span>PGP key</a>
                </li>{{
                end }}
                {{ range .Links }}
                <li>
                    <a target="_blank" rel="noopener noreferrer" class="button" href="https://{{ .URL }}">
                        <span class="emoji">🔗</span>{{ .Label }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </section>

        <section id="experiences" class="card">
            <h2>Work experiences</h2>
            {{ range .Experiences }}
            <hr>
            <section class="grid-12px">
                <h3>{{ .Title }} at {{ .Organization }}</h3>
                <p>{{ .Description }}</p>
                <p class="color-fg-2">{{ .From }} - {{ .To }} ({{ .Location }})</p>
                <ul class="hlist">{{ range .Skills }}<li class="tag">{{ . }}</li>{{ end }}</ul>
            </section>
            {{ end }}
        </section>

        <section id="skills" class="card">
            <h2>Skills</h2>
            <hr>
            {{ range .Skills }}
            <section class="grid-8px">
                <h3>{{ .Title }}</h3>
                <ul class="hlist">{{ range .Tools }}<li class="tag">{{ . }}</li>{{ end }}</ul>
            </section>
            {{ end }}
        </section>

        <section id="languages" class="card">
            <h2>Languages</h2>
            <hr>
            {{ range .Languages }}
            <section class="grid-8px">
                <h3>{{ .Label }}</h3>
                <p class="color-fg-2">{{ .Proficiency }}</p>
            </section>
            {{ end }}
        </section>

        <section id="education" class="card">
            <h2>Education</h2>
            <hr>
            {{ range .Education }}
            <section class="grid-8px">
                <h3>{{ .Title }}</h3>
                <p class="color-fg-2">At {{ .Organization }} ({{ .From }} - {{ .To }})</p>
            </section>
            {{ end }}
        </section>

        <section id="interests" class="card">
            <h2>Interests</h2>
            <hr>
            <ul class="vlist">
                {{ range .Interests }}<li class="kv"><span class="emoji color-fg-2">+</span>{{ . }}</li>{{ end }}
            </ul>
        </section>

        <section id="hobbies" class="card">
            <h2>Hobbies</h2>
            <hr>
            <ul class="vlist">
                {{ range .Hobbies }}<li class="kv"><span class="emoji color-fg-2">+</span>{{ . }}</li>{{ end }}
            </ul>
        </section>

        <section id="exports" class="card">
            <a target="_blank" class="button" href="/profile.pdf">Open as <strong>PDF</strong></a>
            <a target="_blank" class="button" href="/profile.json">Open as <strong>JSON</strong></a>
            <a target="_blank" class="button" href="/profile.txt">Open as <strong>TXT</strong></a>
            <a target="_blank" class="button" href="/profile.md">Open as <strong>Markdown</strong></a>
        </section>
    </main>

    <footer>
        <p class="color-fg-2">Powered by <a target="_blank" rel="noopener noreferrer" href="https://github.com/ejuju/nubio">Nubio</a></p>
    </footer>
</body>

</html>
