<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <meta name="description" content="Welcome to my online resume!">
    <meta name="robots" content="index, follow" />
    <meta name="author" content="{{ .Name }}" />
    <style>
        :root {
            --color-fg-0: hsl(0, 0%, 95%);
            --color-fg-1: hsl(0, 0%, 85%);
            --color-fg-2: hsl(0, 0%, 75%);

            --color-bg-0: hsl(0, 0%, 10%);
            --color-bg-1: hsl(0, 0%, 15%);
            --color-bg-2: hsl(0, 0%, 25%);

            --color-accent: hsl(260, 100%, 75%);
            --color-accent-contrast: var(--color-bg-0);
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html { height: 100%; }
        body { min-height: 100%; background-color: var(--color-bg-0); color: var(--color-fg-1); font-family: sans-serif; }

        main {
            padding: 16px;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        a { color: currentColor; font-weight: bold; }
        h1 { font-size: 150%; color: var(--color-fg-0); text-align: center; }
        h2 { color: var(--color-fg-1); font-size: 125%; }
        h3 { color: var(--color-fg-1); font-size: 100%; }
        ul { list-style-type: none; }
        hr { width: 100%; background-color: var(--color-bg-2); height: 1px; border: none; }
        footer { max-width: 600px; margin: 0 auto; padding: 32px 16px; text-align: center; }

        .card {
            padding: 24px 16px;
            background-color: var(--color-bg-1);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        ul.vlist { display: grid; gap: 8px; }
        ul.hlist { display: flex; flex-wrap: wrap; gap: 8px; list-style-type: none; }
        ul.hlist .tag {
            padding: 4px 8px;
            background-color: var(--color-bg-2);
            border-left: 2px solid var(--color-accent);
        }

        .button {
            background-color: var(--color-accent, var(--color-bg-2));
            color: var(--color-accent-contrast, var(--color-fg-1));
            padding: 8px 12px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
        }

        .emoji { font-size: 110%; font-weight: bold; color: #ffcb4c; }
        .kv { display: grid; grid-template-columns: auto 1fr; gap: 8px; align-items: baseline; }
        .grid-8px { display: grid; gap: 8px; }
        .grid-12px { display: grid; gap: 12px; }
        .color-fg-2 { color: var(--color-fg-2); }

        #top>p { text-align: center; }
        #top>ul { justify-content: center; }
    </style>

    {{- if .CustomCSS }}
    <link rel="stylesheet" href="/custom.css" />
    {{- end }}
</head>

<body>
    <main>
        <section id="top" class="card">
            <h1>{{ .Name }}</h1>
            <p>{{ .Description }}</p>
            <ul class="hlist">
                <li><a class="button" href="mailto:{{ .EmailAddress }}">{{.EmailAddress }}</a></li>
                {{- if .PGPKeyURL }}
                <li><a target="_blank" class="button" href="https://{{ .PGPKeyURL }}">PGP key</a></li>
                {{- end }}
                {{- range .Links }}
                <li><a target="_blank" rel="noopener noreferrer" class="button" href="https://{{ .URL }}">{{ .Label }}</a></li>
                {{- end }}
                <li><a class="button" target="_blank" rel="noopener noreferrer" href="/resume.pdf">Open as PDF</a></li>
            </ul>
        </section>

        <section id="skills" class="card">
            <h2>Skills</h2>
            <hr>
            {{- range .Skills }}
            <section class="grid-8px">
                <h3>{{ .Title }}</h3>
                <ul class="hlist">{{ range .Tools }}<li class="tag">{{ . }}</li>{{ end }}</ul>
            </section>
            {{- end }}
        </section>

        <section id="experiences" class="card">
            <h2>Work Experience</h2>
            {{- range .WorkExperience }}
            <hr>
            <section class="grid-12px">
                <h3>{{ .Title }}{{ if .Organization }} at {{ .Organization }}{{ end }}</h3>
                <p>{{ .Description }}</p>
                <p class="color-fg-2">{{ .From }} - {{ .To }} ({{ .Location }})</p>
                <ul class="hlist">{{ range .Skills }}<li class="tag">{{ . }}</li>{{ end }}</ul>
            </section>
            {{- end }}
        </section>

        <section id="languages" class="card">
            <h2>Languages</h2>
            <hr>
            {{- range .Languages }}
            <section class="grid-8px">
                <h3>{{ .Label }}</h3>
                <p class="color-fg-2">{{ .Proficiency }}</p>
            </section>
            {{- end }}
        </section>

        <section id="education" class="card">
            <h2>Education</h2>
            <hr>
            {{- range .Education }}
            <section class="grid-8px">
                <h3>{{ .Title }}</h3>
                <p class="color-fg-2">At {{ .Organization }} ({{ .From }} - {{ .To }})</p>
            </section>
            {{- end }}
        </section>

        {{- if .Interests }}
        <section id="interests" class="card">
            <h2>Interests</h2>
            <hr>
            <ul class="vlist">
                {{ range .Interests }}<li class="kv"><span class="emoji color-fg-2">+</span>{{ . }}</li>{{ end }}
            </ul>
        </section>
        {{- end }}

        {{- if .Hobbies }}
        <section id="hobbies" class="card">
            <h2>Hobbies</h2>
            <hr>
            <ul class="vlist">
                {{ range .Hobbies }}<li class="kv"><span class="emoji color-fg-2">+</span>{{ . }}</li>{{ end }}
            </ul>
        </section>
        {{- end }}
    </main>

    <footer>
        <p class="color-fg-2">Powered by <a target="_blank" rel="noopener noreferrer"
                href="https://github.com/ejuju/nubio">Nubio</a></p>
    </footer>
</body>

</html>